


<div class="container">
<div class="col-lg-8" ng-repeat="posts in post">
    <h1>{{posts.name}}</h1>
    <p>{{posts.text}}</p>
    <div>
		<span class="badge">Posted {{posts.date }}  </span> by <span class="label label-default">{{posts.author}}</span>
		<div class="pull-right"> <!-- <a href="#details">View more</a> --> <button ng-if="current_user" ng-click="edit()">Edit</button>  <button ng-if="current_user" ng-click="delete($index)">x</button></div>         
     </div>
    <hr>
    </div>     
</div>
